:root {
  --primary-color: #1e90ff; /* Dodger Blue */
  --secondary-color: #007bff; /* Bootstrap Blue */
  --bg-color: #f0f8ff; /* Light blue background */
  --text-color: #000000;
}
body {
  body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}